body {
	background: #303841;
	margin: 0 !important;
	padding: 0 !important;
}
.bd {
	background: #53c0a2;
	margin: 0 !important;
}
.bbd{
	background: #b5f7e6;
	margin: 0 !important;
}
.tt {
	color:#ffffff;
	font-family: elephant;
	text-align: center;
	font-size: 50px;
}
.txM {
	text-align: right;
	color: #ffffff;
	font-family: arial black;
}
.txm {
	font-family: arial;
	color: black;

}
.pqt {
	right: 300px;
	height: 300px;
	text-align: center;
	margin: auto;
	display: block;
}
.pq {
	right: 220px;
	height: 220px;
	text-align: center;
	margin: auto;
	display: block;
}
.pt {
	text-align: center;
	font-family: aharoni;
	color: brown;
}
.rs {
	height: 50px;
	width: 50px;
	text-align: center;
	display: block;
	margin: auto;
}
hr, .hrcolor {
   height: 3px;
   border: 0;
   color: #303841;
   background-color: #303841;
}