body {
	background: #303841;
}
.bd {
	background: #ff5722;
}
.bbd{
	background: #00adb5;
}
.tt {
	color:#ff3796;
	font-family: algerian;
	text-align: center;
	font-size: 50px;
}
.txM {
	text-align: right;
	color: #ff3796;
}
.txm {

}
.pq {
	right: 300px;
	height: 300px;
}